/* top */
.top{
    display: flex;
}
/* left */
.left ,.rigth{
    width: 25%;
}
.todo{
    width: 10%;
}


/* メモインプット */
.memoInput-box{
    width: 50%;
    margin: 0 auto;
}
.memo-Input{
    display: flex;
    flex-direction: column;
    width: 50%;
}
/* js */
.input{
    border: 1px solid black;
}